html {
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D5E6EE 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #D5E6EE 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #D5E6EE 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #D5E6EE));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #D5E6EE 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #D5E6EE 100%);
	
	background-repeat: no-repeat;
	
	margin-bottom: 0px;

	white-space:nowrap;

	background-color: #D5E6EE;

	min-width: 100%;
}
body{
	min-width: 100%;
	
	//overflow-x: hidden;

  font-family: tahoma;
  font-size: 14px;
}

input, select, textarea {
	font-family: tahoma;
	font-size: 14px;
}

a, a:hover, a:active, a:visited {
	font-family: tahoma;
	cursor:pointer;
}
h1 {
				border-bottom: 1px solid #ddd;
				box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
				background-color: #24b6df;
				color: #FFFFFF;
				position: relative;
				left: -10px;
				top: -20px;
				white-space:nowrap;
				margin-bottom: -20px;
				overflow: hidden;
				min-width: 100%;
}
#arrows{
				margin-left: 10%;
}

#bigboxtitle {
				color: #24b6df;
			}			
.centered { 
				text-align: center;
			}
#currenttime{
				position: fixed;
				bottom: 10px;
				right: 10px;
}
.value{
				text-align: right;
				height: 20px;
				width: 100px;
				overflow: hidden;
			}
#deviceselect{
				position: relative;
				top: -30px;
}
#footer {
				text-align: center;
				font-size: 12px;
				color: #999;
}
#latest {
			//	position: fixed;
				top: 50px;
				right: 30px;
}
#phaseboxa {
				color: #000000;
				border-color: #000000;
			}
#phaseboxb {
				color: #FF0000;
				border-color: #FF0000;
			}
#phaseboxc {
				color: #0000FF;
				border-color: #0000FF;
			}
.plotcontainer {
	box-sizing: border-box;
	//width: 850px;
	//height: 300px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
#oldbutton{
				margin-left: 20px;
				margin-top: 10px;
}
.phaseallcheck {
				margin-left: 27px;
				margin-top: 1%;
			}
.harmallcheck {
				margin-left: 27px;
				margin-top: 1%;
			}
.combinecheckbox {
				margin-top:    5px;
				margin-bottom: 5px;
				margin-left:   25px;
			}
.warn {
				color: #FF0000;
				font-size: 12;
			}
#timefield {
				margin-left: 20px;
				display: none;
			}
#timefield2{
				margin-left: 20px;
				display: none;
			}
.viewchoice {
				position: relative;
				margin-left: 20px;
				top: -10px;
			}
.atext {
				color: #000000;
			}
.btext {
				color: #FF0000;
			}
.ctext {
				color: #0000FF;
			}
#selectfield{
				display: none;
				margin-left: 20px;
}
