html{font-family:tahoma;background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D5E6EE 100%);


	background-repeat: no-repeat;
	



	background-color: #D8D8D8;

	min-width: 100%;}
h3{background-color: #24b6df;
				color: #FFFFFF;
				position: relative;
				left:-10px;
				right:-20px;
				top: -10px;
				overflow: hidden;
				min-width: 100%;
				border-bottom: 1px solid #ddd;
				box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
				font-size:20px;}
#head{width:700px;margin-top:-15px;margin-left:-15px;height:400px;overflow:hidden;position:absolute;}